// COLORS
$primary-color: #4c3d7f;
$secondary-color: #2d1b69;
$light-blue-color: #58c7f3;
$light-green-color: #77d970;
$light-red-color: #df2e38;
$light-yellow-color: #f9f54b;
// TYPOGRAPHY
$font-family: "Poppins", sans-serif;
$fw-400: 400;
$fw-700: 700;
$default-font-size: 1.6rem;
